* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  margin: auto;
  padding: 1em 0.5em;
  text-align: center;
}

footer {
  background: #c9f;
  clear: both;
  text-align: center;
  padding: 25px;
  font-family: cursive;
  font-size: 200%;
  margin-top: 25px;
}
.main {
  display: flex;
}
.sidebar {
  padding-top: 20px;
  width: 20%;
  float:left;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#moves{
  font-size: 50px;
}
.concentrationgame {
  float: left;
  width: 75%;
  margin: auto;
}

.outer_card,
.inner_card {
  transition: transform 0.3s, background 0.3s;
}

.outer_card {
  backface-visibility: visible;
  margin: 0.1em;
  float: left;
  padding: 5px;
  width: 72px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_card {
  backface-visibility: hidden;
  width: 110%;
  background-color: rgba(230, 230, 230, 0.7);
  font-size: 12em;
  transform: rotateY(-180deg) scaleX(-1);
}

.outer_card.selected {
  transform: rotateY(-180deg);
}

.selected > img {
  transform: rotateY(0deg) scaleX(-1);
}

.matched {
  transform: rotateY(-180deg);
  background: rgba(0, 0, 200, 0.3);
}

.matched > img {
  transform: rotateY(0deg) scaleX(-1);
}
